
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-image:  linear-gradient(#317c31cc, #258a25b0, #00b400a2, #00b40081);
    border-radius: 20px;
    min-width: 350px;
    min-height: 450px;
    margin: 1%;
    padding: 3%;
    margin: 50px;
    text-align: center;
    display: block;
    position: absolute;
    box-shadow: 5px 0 4px rgba(0, 0, 0, 0.295);
}


h1 {
    background-color: #68E258;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 1px 20px;
    font-size: 16px;
    width: 80%;
    text-align: center;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.308);
}

span{
    margin-left: 10%;
}

ul {
    list-style-type: none;
    padding: 0;
    display: block;
}
li{
    margin: 20% 0;
}

button{
    cursor: pointer;
    min-width: 300px;
    background-color: #EBEBEB;
    border: solid 1px;
    padding: 2%;
    border-radius: 40px;
    font-weight: bolder;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.308);
    transition: all 0.2s;
}

button:hover{
    background-color: #68E258;
}

img{
    max-width: 325px;
}

.imagem-fundo{
    text-align: center;
}