:root{
    --cor-principla: #3b7092;
    --cor-secundaria:  #2a2a2a;
    --cor-secundaria-clara: #3b719265;
    --cor-detalhes: #669bb3;
    --cor-escura: #000000;
    --cor-gradient: linear-gradient(to left, var(--cor-secundaria), var(--cor-principla));
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

main{
    align-items: center;
    display: flex;
    background-image: var(--cor-gradient);
}

.fundo-imagem{
    margin: auto;
    background-color: var(--cor-secundaria-clara);
    max-width: 240px;
    max-height: 284px;
    border-radius: 360px;
    box-shadow: 7px 7px 70px 0px rgba(0, 0, 0, 0.274);
}

.fundo-imagem>img{
    max-width: 240px;
    max-height: 284px;
}

.container{
    background-color: var(--cor-secundaria);
    height: 100vh;
    max-width: 400px;
    min-width: 325px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 0 20px 20px 0;
    box-shadow: 8px 4px 80px 0px var(--cor-secundaria);
}

.area-logo{
    padding: 5% 0;
    display: flex;
}

.div-ancoras{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.div-ancoras>ul{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.div-ancoras>ul>li{
    text-align: center;
}

.ancora-sites{
    border-radius:10px 0 0 10px;
    width: 300px;
    cursor:auto;
    margin-left: 100px;
}

button{
    border-radius:10px 0 0 10px;
    width: 300px;
    text-align: left;
    color: white;
    padding: 2% 1%;
    border: none;
    font-weight: bolder;
    background-color: var(--cor-secundaria);
    font-size: medium;
    transition: all 0.2s;
}

.slider {
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 3760px; /* 4 slides */
    transition: transform 0.5s ease-in-out; /* Animação de transição */
}

.slide {
    width: 500px;
    flex-shrink: 0;
    margin: 0 220px;
}

.slide img {
    width: 450px;
    height: 400px;
}

.text-iframe{
    font-weight: bolder;
    font-size: large;
    text-transform: uppercase;
    padding: 0 0 10px 20px;
}

iframe{
    width: 100%; /* Largura total do elemento pai */
    padding-top: 56.25%; /* Para uma proporção de 16:9 */
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 20px 40px 0px black;
}

button:hover {
    background-color: var(--cor-detalhes);
    cursor: pointer;
}
.slide:first-child {
    display: block;
}
@media screen and (max-width: 900px){
    main{
        display: flex;
        background: var(--cor-principla);
        height: 100vh;
    }

    .container{
        margin: auto;
        width: 80vw;
        height: 90%;
        border-radius: 20px;
    }

    button{
        width: auto;
        margin-left: 0px;
        border-radius: 10px;
        text-align: center;
    }

    .ancora-sites{
        width: auto;
        margin-left: 0px;
        border-radius: 10px;
        text-align: center;
    }

    .div-ancoras>ul>li{
        text-align: center;
    }
    
    
    .slider, .slides{
        display: none;
    }
}