:root{
    --cor-primaria-footer: #2a2a2a;
    --cor-secundaria-footer: #131212;
    --cor-destaque: #669bb3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer{
    background-color: var(--cor-primaria-footer);
}

#sections-ancoras-footer{
    display: flex;
    width: 80vw;
}

.ancoras-logo-footer{
    display: flex;
    justify-content: space-between;
    font-size: 16pt;
    align-items: center;
}

.div-eslogam-footer{
    background-color: var(--cor-secundaria-footer);
    height: 10vh;
}

#eslogam-footer{
    padding: 1%;
    font-size: 26pt;
    font-weight: bolder;
}

#copyright{
    background-color: var(--cor-secundaria-footer);
    border-radius: 36px;
    text-align: center;
}

#copyright>p{
    padding: 1% 0;
    font-size: 14pt;
}

#logo-footer>img{
    width: 15vw;
}

.section-contatos-pessoais, .section-footer-link-documentacao{
    margin: 3% 2%;
}

.section-contatos-pessoais>h2, .section-footer-link-documentacao>h2{
    font-weight: bolder;
}

.section-contatos-pessoais>nav>ul>li, .section-footer-link-documentacao>nav>ul>li{
    margin-top: 3%;
}

.section-contatos-pessoais>nav>ul>li>a, .section-footer-link-documentacao>nav>ul>li>a{
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 500px){
    #sections-ancoras-footer{
        display: inline;
    }
    .section-contatos-pessoais, .section-footer-link-documentacao{
        margin-top: 7%;
    }
    #logo-footer>img{
        width: 28vw;
    }
    #logo-footer>img{
        display: none;
    }
}