:root{
    --cor-eslogam-imagem: #131212;
    --cor-nav-header: #1f1e1e;
    --cor-secundaria: #669bb3;
    --cor-linha-header: linear-gradient(
        to right,
        #669bb3,
        #051f2c
    );
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div-eslogam-Logo{
    background-color: var(--cor-eslogam-imagem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

#logo-header>img{
    max-width: 10vw;
}

.div-eslogam-Logo>h1{
    font-size: 25pt;
    padding-left: 1%;
}
.div-eslogam-Logo>h1>span{
    font-weight: bold;
    font-size: 28pt;
}

.menu-mobile-icon{
    display: none;
}

.menu-mobile-icon>button{
    background-color: transparent;
    border: none;
    font-weight: 15pt;
}

.menu-mobile-icon>button>i{
    font-size: 30pt;
}

.nav-header{
    background-color: var(--cor-nav-header);
}

.ul-nav-header{
    display: flex;
    height: 12vh;
    align-items: center;
    
    
}

.ul-nav-header>li{
    list-style-type: none;
    
}

.div-bonita{
    background-image: var(--cor-linha-header);
    height: 1vh;
}

.ul-nav-header>li>a{
    text-decoration: none;
    margin: 32px;
    font-size: 17pt;
    cursor: pointer;
    position: relative;
    transition: all 0.2s;
    color: #a7a7a7;
}

.ul-nav-header>li>a:hover{
    color: #fff;
}

.menu-mobile>ul>li{
    list-style-type: none;
    width: 70vw;
}

.menu-mobile>ul>li>a{
    text-decoration: none;
    margin: 32px;
    font-size: 17pt;
    cursor: pointer;
    color: #a7a7a7;
}
.menu-mobile{
    display: none;
    justify-content: space-between;
}

#logo-header-mobile>img{
    width: 25vw;
}

.ul-nav-header>li>a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: var(--cor-linha-header);
    position: absolute;
    top: 27px;
    border-radius: 25px;
    left: 0;
    transition: all 0.2s;
}

#pagina-selecionada::after{
    content: " ";
    width: 30px;
    height: 4px;
    background-image: var(--cor-linha-header);
    position: absolute;
    top: 27px;
    left: 0;
}

#pagina-selecionada{
    color: #fff;
}

#pagina-selecionada-mobile{
    color: #fff;
}

.ul-nav-header>li>a:hover::after{
    width: 40px;
}


@media screen and (max-width: 947px){
    #frase-header{
        display: none;
    }
}

@media screen and (max-width: 745px){
    .menu-mobile>ul{
        padding: 2% 1%;
    }

    .menu-mobile>ul>li{
        margin: 3%;
    }

    .ul-nav-header{
        display: none;
    }

    #logo-header>img{
        display: none;
    } 

    .menu-mobile-icon{
        display: inline;
    }

    .open{
        display: flex;
    }
}