header {
    background-color: #1B1B1B;
    height: auto;
}

.logoeslogamSiteHeader {
    display: flex;
    align-items: center;
    background-color: #1f1f1f;
}

#eslogamHeader {
    font-size: 19pt;
    color: rgb(207, 207, 207);

}

#logoSiteHeader {
    width: 18vh;
}



#navHeader>ul {
    width: 87vw;
    display: flex;
    flex-wrap: wrap;

}

#navHeader>ul>li {
    margin: 1% 5% 1% 5%;
    list-style-type: none;
    font-size: 15pt;
    color: rgb(207, 207, 207);
}

#navHeader>ul>li>a {
    color: rgb(218, 218, 218);
    text-decoration: none;
    transition: all 0.5s;
}

#navHeader>ul>li>a:hover {
    color: #689EB6;
    border: solid 1px white;

}


@media screen and (max-width: 800px) {
    header {
        display: block;
        text-align: center;
    }

    #divLogoSiteHeader {
        width: auto;
    }

    #eslogamNav {
        width: auto;
    }

    #navHeader>ul {
        width: auto;
    }
}