* {
    font-family: Arial, Helvetica, sans-serif;
    
}

main>div {
    background-color: #343434;
    margin: 0 15%;
    width: 70%;
}

main {
    background-color: #737373;
}

.ancorasComLogo {
    text-align: center;
    padding: 1%;

}

.ancorasComLogo>a>img {
    width: 90pt;
    margin: 3%;
    border: solid 3px black;
    padding: 1%;
    border-radius: 25px;
}

.textoMain{
    background-color: #292929;
    color:rgb(223, 224, 224);
    padding: 5%;
}

.textoMain>h3{
    font-size: 15pt;
    margin: 5% 2%;
}

.textoMain>p{
    font-size: 14pt;
    margin: 2% 0;
    text-align: justify;
}

@media screen and (max-width: 750px){
    .textoMain>h3{
        font-size: 13pt;
        margin: 10% 2%;
    }
    
    .textoMain>p{
        font-size: 12pt;
        margin: 2% 0;
        text-align: justify;
    }
}