*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor:context-menu;
    color: #fff;
}

:root{
    --gradiente: linear-gradient(
        to right,
        black,
        #3b7092
    );
    --cor-fundo:#2a2a2a
}

body{
    background-image: var(--gradiente);
}

.conteudo-central{
    background-color: var(--cor-fundo);
    width: 80vw;
    margin: 5vw 7vw 5vw 7vw;
    padding: 5% 3%;
    border-radius: 25px;
}

.conteudo-central>section>h2{
    font-size: 20pt;
    font-weight: bolder;
    margin: 2% 1%;
}

.conteudo-central>section>p{
    font-size: 14pt;
    text-align: justify;
}

#saldacao-introducao{
    font-size: 38pt;
    margin: 0 0 5% 0;
    text-align: center;
}


@media screen and (max-width: 500px){
    .conteudo-central>section>h2{
        font-size: 16pt;
        margin: 5% 1%;
    }
    
    .conteudo-central>section>p{
        font-size: 13pt;
    }

    #saldacao-introducao{
        font-size: 20pt;
    }
}