:root{
    --cor-principla: #3b7092;
    --cor-secundaria:  #2a2a2a;
    --cor-secundaria-clara: #3b719265;
    --cor-detalhes: #669bb3;
    --cor-escura: #000000;
    --cor-footer: rgb(36, 36, 36);
}

.todo-footer{
    background-color: var(--cor-footer);
    align-items: center;
    box-shadow: inset 0 4px 0 0 var(--cor-principla);
    padding-top: 4px;   
}

.conteudo-footer{
    display: flex;
}

.conteudo-footer>ul{
    padding: 4px;
    min-width: 20vw;
    justify-content: space-around;
}

.copyright{
    display: flex;
    background-color: rgba(0, 0, 0, 0.267);
    height: 30px;
}

.copyright>h3{
    margin: auto;
}

.conteudo-footer>ul>h3{
   font-size: 14pt;
   margin: 4px 0;
}

.ancoras-footer{
    
    max-width: 150px;
    max-height: 95px;
    padding: 7px 0;
    border-radius: 100%;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.753);
}

.ancoras-footer>i{
    margin-right: 5px;
}

.ancoras-footer:hover{
    color: rgba(255, 255, 255, 0.952);
}