:root{
    --cor-fundo-ancora: #31a010;
    --cor-fundo-menu: #3acc0ec4;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-header>img{
    max-width: 70px;
}

.navBarHeader>ul{
    display: flex;
}

.navBarHeader>ul>li>a{
    padding: 20px;
    margin: 0 0 0 36px;
    font-size: 15pt;
    color: black;
    text-decoration: none;
    transition: all 0.2s;
}

.navBarHeader>ul>li>a:hover{
    background-color: var(--cor-fundo-ancora);
    color: white;
}

.nav-mobile{
    text-align: center;
    width: 50vw;
    margin: 2% 25vw;
}

.nav-mobile>ul>li{
    padding: 10px;

}

.nav-mobile>ul>li>a{
    padding: 10px;
    font-size: 15pt;
    color: black;
    border-radius: 25px;
    text-decoration: none;
    transition: all 0.2s;
}

.menu-mobile-icon{
    align-items: center;
    display: none;
}

.menu-mobile-icon{
    background-color: transparent;
    border: none;
}

.menu-mobile-icon>i{
    font-size: 30pt;
}

.menu-mobile{
    background-color: var(--cor-fundo-menu);
    text-align: center;
    display: none;
}

@media screen and (max-width: 628px){
    .logo-header{
        display: flex;
        justify-content: space-between;
    }
    .menu-mobile-icon{
        display: inline;
    }
    .navBarHeader{
        display: none;
    }

    .open{
        display: flex;
    }
    header{
        display: inline;
    }
}