:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --cor-secundária: #32a010dc;
    --cor-fundo-ancora: #31a010;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 1 0;
    display: flex;
}

iframe {
    width: 80vw;
    margin: 0 9.4vw;
}

.perfil {
    text-align: center;
    margin: 70px 0;
}


.linha-verde {
    height: 4px;
    background-color: var(--cor-secundária);
    width: 100%;
    position: relative;
    top: 50px;
}

.foto-perfil {
    display: inline-block;
    margin-bottom: 15px;
}

.foto-perfil>img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid var(--cor-secundária);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.pagina-home>p,
.pagina-sobre>p {
    font-size: 17pt;
    margin: 5% 0;
}

.pagina-home>h2,
.pagina-sobre>h2 {
    font-size: 19pt;
    font-weight: bolder;
    text-align: center;
    margin: 2%;
}


form {
    background: var(--cor-secundária);
    border-radius: 5px;
    box-shadow: 0 1px 2px #ccc;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5% 20px;
    padding: 20px;
}

form>h3, form>p {
    color: white;
    font-size: 15pt;
}

input,
textarea,
.botaocontato {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f7f7f7;
    border: none;
    border-radius: 5px;
    color: #777;
    font-size: 18px;
    outline: none;
    padding: 15px;
    width: 100%;
}

.botaocontato {
    color: #777;
    cursor: pointer;
    font-weight: bold;
    transition: all, 0.2s;
}

.botaocontato:hover {
    background: green;
    color: #ffffff;
}

.pagina-projetos{
    font-size: 15pt;
    margin-top: 7%;
}

.cards-projetos>h2{
    font-size: 20pt;
    font-weight: bolder;
    text-align: center;
    margin: 5% 0;
}

.card{

    text-align: center;
    margin: 5%;
}

.card>img{
    max-width: 550px;
    margin: 2% 0;
}

.card>h3{
    font-weight: bolder;
    font-size: 15pt;
}

.card>p{
    margin: 0 20%;
}

.card>a{
    text-decoration: none;
    color: white;
    background-color: var(--cor-fundo-ancora);
    margin-top: 15px;
    padding: 1%;
    border-radius: 25px;
}

.texto-lebal{
    color: white;
    font-weight: bolder;
    font-size: 17pt;
}

textarea{
    resize: none;
}